body {
    background-color: rgb(231, 249, 255);
}

div {
    /* border: 1px solid red; */
}

h1 {
    color: rgb(82, 82, 82);
}

h3 {
    margin-top: 0px;
    color:rgb(49, 49, 49);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
    font-size: 14px;
}

.calc_container {
    padding: 10px;
    height: 455px;
    width: 305px;
    border: 1px solid rgb(182, 182, 182);
    border-radius: 10px;
    background-color: rgb(98, 187, 242);
    box-shadow:
        1px 1px 2.7px rgba(0, 0, 0, 0.022),
        2.6px 2.6px 6.9px rgba(0, 0, 0, 0.031),
        5.3px 5.3px 14.2px rgba(0, 0, 0, 0.039),
        11px 11px 29.2px rgba(0, 0, 0, 0.048),
        30px 30px 80px rgba(0, 0, 0, 0.07)
        ;

}

.display {
    height: 75px;
    width: 297px;
    margin-bottom: 15px;
    margin-top: 25px;
    border-radius: 5px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background-color: rgb(218, 218, 218);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    color: rgb(67, 67, 67);
    padding: 3px;
    
}

/* references all classes that begin with btn_col */
div[class^="btn_col" ]{ 
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 55px;
    margin-left: 2px;
}

.btn {
    width: 50px;
    height: 50px;
    margin: 5px;
    background-color: rgb(240, 240, 240);
    border: 1px solid gray;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    color:rgb(57, 57, 57)
}    

#plus {
    height: 112px;
}
